In [24]:
from flask import Flask, render_template,request,jsonify

In [25]:
from bs4 import BeautifulSoup as bs

In [26]:
#pip install beautifulsoup4

In [27]:
from urllib.request import urlopen as urReq

In [36]:
flipcart_url = "https://www.flipkart.com/search?q="+"iphone11"

In [37]:
flipcart_url

'https://www.flipkart.com/search?q=iphone11'

In [38]:
response_website = urReq(flipcart_url)

In [39]:
data_flipcart = response_website.read() #same info as view page sourse

In [40]:
beautifyed_html = bs(data_flipcart,"html.parser") # not working, worked after running from start

In [45]:
bigbox = beautifyed_html.find_all("div",{"class":"_1AtVbE col-12-12"})

In [46]:
bigbox[6].div.div.div.a['href']

'/apple-iphone-11-green-64-gb/p/itm386a85013a3d1?pid=MOBFWQ6BHPMG29QM&lid=LSTMOBFWQ6BHPMG29QMKXJSSF&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_5&otracker=search&fm=organic&iid=133c118c-a26a-4690-812b-55aa6296cbdc.MOBFWQ6BHPMG29QM.SEARCH&ppt=None&ppn=None&ssid=hlgfceanio0000001661596012900&qH=d6db477051465f9a'

In [49]:
"https://www.flipkart.com" + bigbox[6].div.div.div.a['href']

'https://www.flipkart.com/apple-iphone-11-green-64-gb/p/itm386a85013a3d1?pid=MOBFWQ6BHPMG29QM&lid=LSTMOBFWQ6BHPMG29QMKXJSSF&marketplace=FLIPKART&q=iphone11&store=tyy%2F4io&srno=s_1_5&otracker=search&fm=organic&iid=133c118c-a26a-4690-812b-55aa6296cbdc.MOBFWQ6BHPMG29QM.SEARCH&ppt=None&ppn=None&ssid=hlgfceanio0000001661596012900&qH=d6db477051465f9a'

In [50]:
product6 = "https://www.flipkart.com" + bigbox[6].div.div.div.a['href']

In [51]:
import requests

In [52]:
requests.get(product6)

In [54]:
product66 = requests.get(product6)

In [55]:
product66.encoding='utf-8'

In [58]:
product6_page=bs(product66.text,"html.parser")

In [60]:
all_review = product6_page.find_all("div",{"class":"_16PBlm"})

In [61]:
len(all_review)

11

In [109]:
#all_review[5]

In [65]:
all_review[5].div.div.div.div.text

'5'

In [66]:
rating=all_review[5].div.div.div.div.text

In [67]:
rating

'5'

In [71]:
all_review[5].div.div.find_all('p',{"class":"_2sc7ZR _2V5EHH"})

In [74]:
name = all_review[5].div.div.find_all('p',{"class":"_2sc7ZR _2V5EHH"})[0].text

In [75]:
all_review[5].div.div.div.p.text

'Fabulous!'

In [76]:
comment_header = all_review[5].div.div.div.p.text

In [82]:
all_review[5].div.div.find_all('div',{'class':""})[0].div.text

'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.'

In [87]:
all_review[5].div.find_all('p',{"class":"_2sc7ZR"})[1].text

'Mar, 2020'

In [100]:
product6_page.find_all('div',{'class':"_30jeq3 _16Jk6d"})[0].text

'₹39,999'

In [108]:
for i in all_review:
    rating=i.div.div.div.div.text
    comment_header = i.div.div.div.p.text
    price = product6_page.find_all('div',{'class':"_30jeq3 _16Jk6d"})[0].text
    long_review = i.div.div.find_all('div',{'class':""})[0].div.text
    date = i.div.find_all('p',{"class":"_2sc7ZR"})[1].text
    name = i.div.div.find_all('p',{"class":"_2sc7ZR _2V5EHH"})[0].text
    print(rating,name,comment_header,date,long_review,price)

5 Flipkart Customer Simply awesome Nov, 2020 Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it. ₹39,999
5 Flipkart Customer Perfect product! Jun, 2020 Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera . ₹39,999
5 Manish Raghuvanshi Best in the market! Apr, 2021 Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros-Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour   accuracy and super responsive -Build quality as expect from apple sturdy  premium durable beautiful stylish. -Os most stable os in smartphone industry Cons -No 5G-Display is not based on OLED technology -Charger headphones and 1 apple stic... ₹39,999
5 Vamshi  Chakrala  Worth every penny Jan, 2020 Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks 1. The delivery ... ₹39,999
5 Vishal Dubey Highly recommended Jul, 2020 What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow ₹39,999
5 Naveen Boopathi Fabulous! Mar, 2020 This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone. ₹39,999
5 Rahul Verma Great product Mar, 2020 Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone. I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb. I’ve attached my puppy pics and no fi... ₹39,999
5 Flipkart Customer Worth every penny Oct, 2020 i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it.. ₹39,999
5 Jimly  Gogoi Highly recommended May, 2020 It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing. This phone not only for good quality photography but a lot of other task too.😍💯 ₹39,999
4 Bharat Sv Good choice Jun, 2020 So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome ₹39,999

AttributeError: 'NoneType' object has no attribute 'div'

In [112]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp39-cp39-win_amd64.whl (7.8 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\abhay\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30
Note: you may need to restart the kernel to use updated packages.

In [118]:
import mysql.connector as conn
mydb = conn.connect(host="localhost",user="root",passwd="root@123")
cursor=mydb.cursor()
cursor.execute("create database if not exists flipcart")
cursor.execute("create table if not exists (rating int,name varchar(20),comment_header varchar(100),date varchar(30),long_review varchar(500),price varchar(20))")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(rating int,name varchar(20),comment_header varchar(100),date varchar(30),long_r' at line 1

In [ ]:
#pip install -r requirements.txt